.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #323131b1;
  position: absolute;
  top: 0;
  left: 0;
}
.main input {
  height: 30px;
  width: auto;
  padding: 5px;
  text-align: center;
  margin: 0px 3px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}
.main button {
  height: 30px;
  width: 60px;
  padding: 5px;
  margin: 3px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.main input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: white;
  text-align: center;
}
