.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0px;
  width: 33%;
  height: calc(50vh - 23px);
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.infos .titles {
  margin-bottom: 20px;
}
.infos .overview {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  .container {
    width: 98%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .container {
    width: 48%;
  }
}
