.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  min-height: calc(100vh - 50px);
  color: white;
}
.iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 55px);
  margin: 5px;
}
.iframe .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: -50px;
  width: 100%;
}
.buttons button {
  height: 40px;
  width: 60px;
  color: white;
  background-color: #827f7f;
  padding: 5px;
  margin: 0px 10px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
.buttons .legend {
  margin: 0px 20px;
}
.iframe iframe {
  width: 100%;
  height: 100%;
}
